click
questionary
jsonschema
packaging
prompt_toolkit>=3.0.3
rich>=10.0.0
requests==2.27.1
paramiko>=2.10.1
pyyaml
openpyxl>=3.1.2
ena-upload-cli
bio==1.4.0 
xlsxwriter
bs4==0.0.2
tabulate
cdifflib==1.2.6